## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.idea/
.vscode/

## SQLite & Local Data
*.db
*.db-shm
*.db-wal
*hangfire*
/data/

## Node / Web
node_modules/
dist/
dist-ssr/
*.local
.pnpm-debug.log*
.yarn-debug.log*
.npm/

## Temp & OS
.DS_Store
Thumbs.db
scratch/
.env
*.env
